<%- include('partials/header')%>

    <body>

        <div class="flex-wrapper">
            <%- include('partials/navbar')%>

            <div class="breadcrumbs">
                    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="images/crop_images/<%= result %>.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>You should plant 
                <a href="/search-result?q=<%= result %>"
                style="color: #5fcf80; text-transform:uppercase;"><%=result %></a> 
                in your farm</h3>
              <p style="font-size: 20px;"><br>
                The below cultivation can be followed to plant <%= result %> :
              </p><br>
              <p style="font-size: 17px;" class="fst-italic">
                <%= cult %>
              </p>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
            </div>


                <%- include('partials/footer')%>
        </div>

    </body>

    </html>