<%- include('partials/header')%>

    <body>


        <div class="flex-wrapper">
            <%- include('partials/navbar')%>


            <div class="breadcrumbs">

                <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3><%= result %></h3>
              <p style="font-size: 19px;" class="fst-italic">
                Please follow the following suggestion for your field:
              </p>
              <ul>
                <% for(var i = 0; i < suggestion.length; i++ ){ %>
                    <li><i class="bi bi-check-circle"></i> <%= suggestion[i] %></li>
                <% } %>
              </ul>
              
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

            

                <%- include('partials/footer')%>
            </div>

    </body>

    </html>