<%- include('partials/header')%>

    <body>
        <div class="breadcrumbs">
            <%- include('partials/navbar')%>

                    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-8">
              <img src="/images/crop_images/<%= title %>.jpg" class="img-fluid" alt="">
              <h3> Description </h3>
              <p>
                <%= (typeof desc !="undefined" ? desc : "" ) %>

              </p>

              <h3> Cultivation Method </h3>
              <p>
                <%= (typeof cult !="undefined" ? cult : "" ) %>
              </p>

               <h3> Climatic Conditions </h3>
              <p>
                <%= (typeof climate !="undefined" ? climate : "" ) %>
              </p>
            </div>
            <div class="col-lg-4">
  

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Common name</h5>
                    <i><p> <%= title %> </p></i>
                  </div>
      
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Scientific name</h5>
                <i><p><%= (typeof scname !="undefined" ? scname : "" ) %></p></i>
              </div>
  
              
  
            </div>
          </div>
  
        </div>
      </section><!-- End Cource Details Section -->
    </div>

        <%- include('partials/footer')%>
    </body>

    </html>