<%- include('partials/header')%>

    <body>
        <div class="flex-wrapper">
            <%- include('partials/navbar')%>


                <h3 class="text-center" style="margin: 4rem"> <b>The details on the crop that you've searched for are:
                    </b></h3>
                <div class="container py-2 mx-auto h-10 " style="margin: 4rem;">

                    <div class="row">
                        <div class="col-sm py-2 py-md-3">
                            <div class="card card-body" style="justify-content: center; background-color: #fafaf5">
                                <h1 class="text-center"
                                    style="color: black; font-size: 50px; text-transform: capitalize; text-decoration: underline; font-family: serif; ">
                                    <%= title %>
                                </h1>
                                <br>

                                <img src="/images/crop_images/<%= title %>.jpg" class="rounded center"
                                    style="padding: 0 270px" alt="Image">

                                <br>
                                <p class="text-center" style="color: black; font-size: 30px; font-family: serif; ">
                                    Scientific name: <i>
                                        <%= (typeof scname != "undefined" ? scname : "") %>
                                    </i></p> <br>
                                <p class="text-center"
                                    style="color: black; font-size: 36px; font-family: serif; text-decoration: underline;">
                                    Description: </p>
                                <p class="text-center" style="color: black; font-size: 26px; font-family: serif; ">
                                    <%= (typeof desc != "undefined" ? desc : "") %>
                                </p> <br>
                                <p class="text-center"
                                    style="color: black; font-size: 36px; font-family: serif; text-decoration: underline;">
                                    Cultivation method: </p>
                                <p class="text-center" style="color: black; font-size: 26px; font-family: serif; ">
                                    <%= (typeof cult != "undefined" ? cult : "") %>
                                </p> <br>
                                <p class="text-center"
                                    style="color: black; font-size: 36px; font-family: serif; text-decoration: underline;">
                                    Climatic conditions: </p>
                                <p class="text-center" style="color: black; font-size: 26px; font-family: serif; ">
                                    <%= (typeof climate != "undefined" ? climate : "") %>
                                </p> <br>

                            </div>


                        </div>
                    </div>

                </div>

        </div>

        <script src="scripts/crop-handler.js"></script>

        <%- include('partials/footer')%>
    </body>

    </html>